:root {
  --logo-color: #2196F3;
  --bg-color: #2F303A;
  --gray-color: #757575;
  --blk-color: #212121;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--blk-color);
}

ul {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.container {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section {
  width: 100%;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.section--notopmargin {
  display: none;
  padding-top: 0;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;
}
.section--graybg {
  background-color: #F5F4FA;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 85px;
  }
  .section--notopmargin {
    display: flex;
    padding-top: 0;
  }
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.horizontal-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  background-color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--gray-color);
  font-size: 14px;
}
.nav__link:hover {
  color: var(--logo-color);
}

.nav__whereami {
  color: var(--logo-color);
}
.nav__whereami:after {
  content: "";
  display: block;
  width: 55px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 45.5px;
  background-color: var(--logo-color);
}

.social-links {
  margin-bottom: 18px;
}
.social-links--footer {
  margin: 60px 137px;
}
.social-links__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
}
.social-links__list--footer {
  width: 206px;
  padding-left: 0px;
  padding-right: 0px;
}
.social-links__link:hover .social-links__bg {
  background-color: var(--logo-color);
}
.social-links__link:hover .social-links__icon {
  fill: #fff;
}
.social-links__bg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  margin: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__icon--white {
  fill: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--blk-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo--down {
  color: #fff;
}
.logo--blue {
  color: var(--logo-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), scale 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blk-color);
}

.form__label {
  position: relative;
}

.form__span {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.form__input {
  width: 448px;
  height: 38px;
  padding-left: 40px;
}

.form__comment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 10px;
  top: 32px;
  width: 18px;
  height: 18px;
  fill: var(--blk-color);
}

.form__tldr {
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  position: relative;
}
.form__tldr::before {
  position: absolute;
  top: 4px;
  left: -23px;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 2px solid rgba(21, 21, 21, 0.9);
}
.form__tldr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  appearance: none;
  margin-right: 7.75px;
}

.form__checkbox:checked + .form__tldr::before {
  background-color: var(--logo-color);
  border: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.666656' width='17.7143' height='20' rx='2' fill='%232196F3'/%3E%3Cpath d='M7.19174 14.2633L4.38 11.033L4.30484 10.9467L4.22938 11.0328L3.24623 12.1543L3.18865 12.22L3.246 12.2859L7.11628 16.7323L7.19171 16.819L7.26713 16.7323L15.5754 7.18721L15.6326 7.12155L15.5754 7.0559L14.5992 5.93435L14.5238 5.84773L14.4484 5.93431L7.19174 14.2633Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: contain;
}

.form__submit {
  margin-top: 21px;
}

@media screen and (min-width: 480px) {
  .form__input {
    width: 370px;
    height: 40px;
  }
  .form__comment {
    width: 370px;
  }
  .form__tldr {
    font-size: 14px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
    height: 40px;
  }
  .form__comment {
    width: 448px;
  }
  .form__tldr {
    font-size: 14px;
    line-height: 24px;
  }
}
.input__box {
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input__box:hover, .input__box:focus, .input__box:hover + svg, .input__box:focus + svg {
  color: var(--logo-color);
  border-color: var(--logo-color);
  fill: var(--logo-color);
  outline: none;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-left: 15px;
  padding-right: 15px;
}

.contact__link:hover > .nav__link {
  fill: var(--logo-color);
  color: var(--logo-color);
}

.contact__icon {
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  color: #fff;
  font-weight: 900;
  line-height: 1.62;
  text-decoration: none;
  text-align: center;
  min-height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-left: 57px;
  padding-right: 58px;
  padding-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
}
.hero__button {
  background-color: var(--logo-color);
  color: #fff;
  border: none;
  line-height: 1.875;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 42px;
}

@media screen and (min-width: 768px) {
  .hero {
    line-height: 1.3;
    min-height: 400px;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg.jpg");
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-left: 202px;
    padding-right: 201px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    line-height: 1.3;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/bg.jpg");
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-left: 252px;
    padding-right: 252px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 480px) {
  .feats-item__bg {
    height: 120px;
    width: 450px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 192.34px;
  }
  .feats-item__title {
    width: 450px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    padding-bottom: 10px;
  }
  .feats-item__text {
    width: 450px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feats-item__bg {
    width: 354px;
    padding: 25px 142px;
  }
  .feats-item__title {
    width: 354px;
    line-height: 1.17;
    text-align: left;
  }
  .feats-item__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feats-item__bg {
    width: 270px;
    padding: 25px 100px;
  }
  .feats-item__title {
    width: 270px;
    line-height: 1.17;
    text-align: left;
  }
  .feats-item__text {
    width: 270px;
  }
}
.wwd-item {
  position: relative;
}
.wwd-item__text {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  position: absolute;
  bottom: 4px;
}

.people {
  display: flex;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  justify-content: space-around;
}
.people__figure {
  width: 450px;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.people__img {
  width: 450px;
  height: 460px;
}
.people__text {
  color: var(--blk-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
}
.people__text--gray {
  color: var(--gray-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .people__figure {
    width: 354px;
  }
  .people__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .people__figure {
    width: 270px;
  }
  .people__img {
    width: 270px;
    height: 260px;
  }
}
.clients-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.clients-list__client a > div:hover, .clients-list__client a > div > svg:hover {
  border-color: var(--logo-color);
  fill: var(--logo-color);
}

.clients-link__border {
  height: 92px;
  width: 170px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-link__border {
    height: 92px;
    width: 210px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-link__border {
    height: 92px;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link__border {
    height: 92px;
    width: 170px;
  }
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}
.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.footer-list {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.footer-list__adress {
  font-style: normal;
  line-height: 24px;
}
.footer-list__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 9px;
}
.footer-list__link:hover {
  color: var(--logo-color);
}

.newsletter {
  width: 370px;
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
}
.input__mail:hover, .input__mail:focus {
  color: var(--logo-color);
  border-color: var(--logo-color);
  outline: none;
}

.btn__signup {
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  line-height: 1.625;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__icon {
  fill: #fff;
  margin-left: 24px;
}

.modal {
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.pf-buttons {
  padding-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.pf-buttons__button {
  background-color: #F5F4FA;
  color: var(--blk-color);
  line-height: 1.625;
  font-size: 16px;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 15px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-buttons__button:hover, .pf-buttons__button:focus {
  background-color: var(--logo-color);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .pf-buttons {
    padding-bottom: 36px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .pf-buttons {
    padding-bottom: 50px;
  }
}
.pf-list {
  text-align: left;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
  margin: 0px;
}

.pf-card {
  border: 1px solid #EEEEEE;
  margin: 0px;
  padding-top: 0px;
  width: 450px;
}
.pf-card:hover, .pf-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.pf-figure {
  padding: 0px;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 450px;
}
.pf-figure:hover .pf-overlay, .pf-figure:focus .pf-overlay {
  transform: translate(0%, 0%);
}
.pf-figure__img {
  width: 450px;
  height: 294px;
}

.pf-desc {
  padding: 20px 24px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.pf-desc__title {
  color: var(--blk-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.pf-desc__txt {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) {
  .pf-card {
    width: 354px;
  }
  .pf-figure {
    width: 354px;
  }
  .pf-figure__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .pf-card {
    width: 370px;
  }
  .pf-figure {
    width: 370px;
  }
  .pf-figure__img {
    width: 370px;
    height: 294px;
  }
}
.pf-overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}/*# sourceMappingURL=main.css.map */