

.clients-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__client a>div:hover,
    &__client a>div>svg:hover {
            border-color: var(--logo-color);
            fill: var(--logo-color);
        }
}

.clients-link__border {
    height: 92px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
    .clients-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    .clients-link__border {
                    height: 92px;
                    width: 210px;
                    margin-bottom: 30px;
                }
}

@media screen and (min-width: 480px) {
    .clients-link__border {
            height: 92px;
            width: 210px;
            margin-bottom: 30px;
        }
}

@media screen and (min-width: 768px) {
    .clients-link__border {
            height: 92px;
            width: 226px;
    }
}

@media screen and (min-width: 1200px) {
.clients-link__border {
        height: 92px;
        width: 170px;
    }
}