.header {
    border-bottom: 1px solid #ececec;
    padding-left: 15px;
    padding-right: 15px;
}

.contact__link:hover>.nav__link {
    fill: var(--logo-color);
    color: var(--logo-color);
}

.contact__icon {
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
    .horizontal-list--nav {
        display: none;
    }

    .contact__link {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .horizontal-list--nav {
        display: flex;
        margin-left:83px;
    }
    .contact__link {
        display: flex;
    }
    .horizontal-list--header {
        display: flex;
        flex-flow: row wrap;
    }
    .contact-list {
        display: flex;
        flex-flow: column wrap;
        margin-top: 21px;
        }
    .contact__link {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 1200px) {
    .contact-list {
        display: flex;
        flex-flow: row wrap;
        margin-top: 21px;
    }
}