.hero {
        color: #fff;
        font-weight: 900;
        line-height: 1.62;
        text-decoration: none;
        text-align: center;
        min-height: 400px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                url('../images/mobile/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
                &__title {
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 118px;
                        padding-left: 57px;
                        padding-right: 58px;
                        padding-bottom: 30px;
                        font-size: 26px;
                        font-weight: 900;
                        letter-spacing: 0.06em
                }
        
                &__button {
                        background-color: var(--logo-color);
                        color: #fff;
                        border: none;
                        line-height: 1.875;
                        font-size: 16px;
                        font-weight: 700;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 10px 42px;
                }
        }


@media screen and (min-width: 768px) {
.hero {
        line-height: 1.3;
        min-height: 400px;
        max-width: 768px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/tablet/bg.jpg');
                &__title {
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 118px;
                        padding-left: 202px;
                        padding-right: 201px;
                        font-size: 26px;
                        font-weight: 900;
                        letter-spacing: 0.06em
                }
        }      
}

@media screen and (min-width: 1200px) {
.hero {
        line-height: 1.3;
        min-height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/desktop/bg.jpg');
        &__title {
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 200px;
                        padding-left: 252px;
                        padding-right: 252px;
                        font-size: 44px;
                        font-weight: 900;
                        letter-spacing: 0.06em
                }
        }
}
