.burger {
    width:100vw;
    background-color: #fff;
    padding-top: 48px;
    padding-left:40px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 302px;
            &__nav {
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.175;
                color: var(--blk-color);
                text-decoration: none;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    &:hover {
                        color: var(--logo-color);
                }
            }
            &__element {
                margin-bottom: 32px;
        }
    }
    &-contact-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        }
    &-social-media {
        display: flex;
        flex-direction: row;
        }
    &__phone {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.176;
        color: var(--logo-color);
        text-decoration: none;
        }    
    &__mail {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.166;
        color: var(--gray-color);
        text-decoration: none;
        }
    &__social-link {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.22;
        color: var(--logo-color);
        text-decoration: none;
        padding-right: 10px;
        }      
        &-call {
            padding-top: 10px;
            font-weight: 0;
            font-size: 1px;
            border: none;
            background-color: #fff;

            &:hover {
                fill: var(--logo-color);
            }
    }
    &__icon {
        justify-content: center;
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
    }  
}

@media screen and (min-width: 768px) {
.burger-call{
    display:none;
    }
}


// mcdonalds - never again

#mcfarmerplease {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

#whopper {
    position: absolute;
    top: 0px;
    display: none;
}

@media only screen and (max-width: 480px) {
    #burgerking {
        display: flex;
    }
}

// is hidden for reference

// .is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }

.is-open {
    display: flex
}
