.horizontal-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {

}

// .horizontal-list {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     &--header {
//             padding-top: 24px;
//             padding-bottom: 25px;
//         }
    
//     &--center {
//             justify-content: center;
//         }
    
//     &--nav {
//             margin-left: 93px;
//             position: relative;
//             flex-direction: row;
//         }
// }

