.horizontal-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .not-so-horizontal-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
}
