.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--blk-color);
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;

    &--down {
            color: #fff;
        }
    
    &--blue {
            color: var(--logo-color);
        }
}
