.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;

    &--footer {
        margin: 60px 137px;
        }

    &__list {
    width:206px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        &--footer {
            width: 206px;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 60px;
        }
    }

    &__link:hover .social-links__bg {
            background-color: var(--logo-color);
    }
    
    &__link:hover .social-links__icon {
            fill: #fff;
    }
    &__bg {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__icon {
        fill: #AFB1B8;
        width: 20px;
        height: 20px;
        margin: 12px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &--white {
                fill: #fff;
        }
    }    
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}



