.pf-list {
    text-align: left;
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    // align-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
}

.pf-card {
    border: 1px solid #EEEEEE;
    margin: 0px;
    padding-top: 0px;
    width: 450px;

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
}

.pf-figure {
    padding: 0px;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 450px;

    &:hover .pf-overlay,
    &:focus .pf-overlay {
            transform: translate(0%, 0%);
        }

    &__img {
        width: 450px;
        height: 294px;
    }
}

.pf-desc {
    padding: 20px 24px;
    position: relative;
    z-index: 3;
    background-color: #fff;

    &__title {
            color: var(--blk-color);
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
        }
    
    &__txt {
            color: var(--gray-color);
            font-size: 16px;
            line-height: 1.875;
        }
}

@media screen and (min-width: 768px) {
.pf-card {
    width: 354px; 
} 
.pf-figure {
    width: 354px;
        &__img {
            width: 354px;
            height: 294px;
        }
    }
}    
@media screen and (min-width: 1200px) {
.pf-card {
    width: 370px;
}
.pf-figure {
        width: 370px;

        &__img {
            width: 370px;
            height: 294px;
        }
    }
}